<!-- src/app/landing/testimonials/testimonials.component.html -->
<section class="voices-section">
    <div class="container voices-wrapper">

        <h2 class="voices-title" *ngIf="!loading; else loadingTitle" [innerHTML]="sectionTitle"></h2>
        <ng-template #loadingTitle>
            <div class="skeleton-loader skeleton-title"></div>
        </ng-template>

        <div class="voices-grid" #gridContainer>

            <!-- SKELETON LOADER CARDS -->
            <ng-container *ngIf="loading && testimonials.length === 0">
                <div class="voice-card" *ngFor="let s of skeletonItems">
                    <div class="skeleton-loader skeleton-image"></div>
                    <div class="skeleton-content-wrapper">
                        <div class="skeleton-loader skeleton-logo"></div>
                        <div class="skeleton-loader skeleton-quote"></div>
                        <div class="skeleton-footer">
                            <div class="skeleton-loader skeleton-avatar"></div>
                            <div class="skeleton-author-info">
                                <div class="skeleton-loader skeleton-text-line"></div>
                                <div class="skeleton-loader skeleton-text-line short"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- REAL DATA -->
            <ng-container *ngIf="!loading || testimonials.length > 0">
                <div class="voice-card" *ngFor="let t of testimonials; let i = index" [class.active]="i === activeIndex"
                    #card [attr.data-index]="i">

                    <img [src]="t.image" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg'"
                        [alt]="t.name" class="voice-image">

                    <div class="voice-content">

                        <p class="voice-quote">
                            {{ t.role }}
                        </p>

                        <div class="voice-footer">
                            <div class="voice-author">
                                <img [src]="t.avatar"
                                    onerror="this.onerror=null;this.src='assets/images/placeholder_avatar.png'"
                                    [alt]="t.name" class="author-avatar">
                                <div class="author-info">
                                    <strong>{{ t.name }}</strong>
                                    <span>{{ t.quote }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</section>