    .dashboard-wrapper {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .main-content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--color-gray-50);
    }

    .page-content {
        flex: 1;
        overflow-y: auto;
        padding: 2rem;
    }

    // Hide ReCaptcha badge only in Dashboard
    ::ng-deep .grecaptcha-badge {
        visibility: hidden !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }