<app-landing-header></app-landing-header>

<main>
    <app-hero [sectionData]="heroSection" [loading]="loading"></app-hero>

    <app-logos-carousel [sectionData]="alliesSection" [loading]="loading"></app-logos-carousel>

    <app-features [sectionData]="benefitsSection" [loading]="loading"></app-features>

    <app-interoperability></app-interoperability>

    <app-audience [sectionData]="publicoSection" [loading]="loading"></app-audience>

    <app-testimonials [sectionData]="testimonialsSection" [loading]="loading"></app-testimonials>

    <app-metrics [sectionData]="metricsSection" [loading]="loading"></app-metrics>
</main>

<app-footer></app-footer>