<section class="features">
    <div class="container">

        <!-- SKELETON LOADER -->
        <ng-container *ngIf="loading && featuresList.length === 0">
            <div class="cards">
                <div class="card-item" *ngFor="let i of [1,2,3]">
                    <div class="skeleton-loader skeleton-image"></div>
                    <div class="skeleton-loader skeleton-title"></div>
                    <div class="skeleton-loader skeleton-text"></div>
                </div>
            </div>
        </ng-container>

        <!-- REAL DATA -->
        <ng-container *ngIf="!loading || featuresList.length > 0">
            <div class="cards">
                <div class="card-item" *ngFor="let item of featuresList">
                    <img [src]="item.image" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg'"
                        [alt]="item.title">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </ng-container>

    </div>
</section>