<footer class="footer">
    <div class="container footer-top">

        <!-- COLUMNA 1: LOGO + DESCRIPCIÓN -->
        <div class="col brand-block">
            <a [routerLink]="['/']">
                <img src="assets/images/landing/logo-white.png" alt="CTI Vitae" class="footer-logo">
            </a>

            <p class="brand-text">
                La plataforma oficial que conecta,<br>
                gestiona y visibiliza la producción<br>
                científica y tecnológica del Perú.
            </p>
        </div>

        <!-- COLUMNA 2 -->
        <div class="col">
            <h4>PLATAFORMA</h4>
            <a [routerLink]="['/']">Inicio</a>
            <a [routerLink]="['/search']">Buscador de Investigadores</a>
            <a href="#">Reglamento RENACYT</a>
            <a href="#">Convocatorias Abiertas</a>
            <a [routerLink]="['/auth/login']">Iniciar Sesión</a>
        </div>

        <!-- COLUMNA 3 -->
        <div class="col">
            <h4>RECURSOS</h4>
            <a href="https://alicia.concytec.gob.pe/" target="_blank">Repositorio ALICIA</a>
            <a href="https://biblioteca.concytec.gob.pe/" target="_blank">Biblioteca Virtual de CTI</a>
            <a href="https://sites.google.com/concytec.gob.pe/ctivitae" target="_blank">Manual de Usuario</a>
            <a href="https://sites.google.com/concytec.gob.pe/ctivitae/ayuda/preguntas-frecuentes"
                target="_blank">Preguntas Frecuentes (FAQ)</a>
            <a href="https://sites.google.com/concytec.gob.pe/ctivitae/ayuda" target="_blank">Mesa de Ayuda</a>
        </div>

        <!-- COLUMNA 4 -->
        <div class="col">
            <h4>CONTACTO</h4>
            <p>Av. del Aire 485, San Borja, Lima.</p>
            <p>(01) 399-0030</p>
            <p>soporte.cti@concytec.gob.pe</p>
            <p>Horario: Lun - Vie 8:30am - 5:00pm</p>
        </div>

    </div>

    <!-- NOTA -->
    <div class="container footer-note">
        Nota: La información del directorio es autoreferenciada y responsabilidad del inscrito.
        No constituye fuente oficial única.
    </div>

    <!-- PARTE FINAL -->
    <div class="container footer-bottom">
        <span>© 2025 CONCYTEC – Todos los derechos reservados.</span>

        <div class="bottom-links">
            <a href="#">Política de Privacidad</a>
            <a href="https://sites.google.com/concytec.gob.pe/ctivitae/sobre-ctivitae/terminos-condiciones"
                target="_blank">Términos de Uso</a>
            <a href="#">Libro de Reclamaciones</a>
        </div>
    </div>
</footer>